
/* line 1 : /Users/constantx/Dropbox/projects/readerrr/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /Users/constantx/Dropbox/projects/readerrr/stylus/_fonts.styl */
@font-face {
  font-family: 'Droid Serif';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/DroidSerif-Regular-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Droid Serif';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/DroidSerif-Italic-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Droid Serif';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/DroidSerif-Bold-webfont.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Droid Serif';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/DroidSerif-BoldItalic-webfont.ttf") format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Droid Sans';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/DroidSans-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Droid Sans';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/DroidSans-Bold-webfont.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/fontawesome-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* line 15 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
.cwrapper,
#entries,
#entries .entry .card,
#entries .entry .collapsed,
#entries .entry.expanded .entry-container {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 19 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
.tk-heading,
#entries .entry .entry-title a,
#entries .entry .collapsed .entry-source-title,
#entries .entry .collapsed .entry-secondary {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif !important;
}

/* line 22 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
.tk-text,
#entries .entry .entry-body {
  font-family: 'Droid Serif', Georgia, serif !important;
  color: #424242 !important;
}

/* line 26 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
.tk-meta,
.meta,
#title-and-status-holder span,
#entries .entry .entry-date,
#entries .entry .entry-body pre,
#entries .entry .entry-body code,
#entries .entry .entry-author {
  font-family: "Panic Sans", "inconsolata", Monaco, 'Courier New', monospace !important;
  font-weight: normal !important;
}

/* line 31 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
.meta,
#title-and-status-holder span,
#entries .entry .entry-date,
#entries .entry .entry-author {
  color: #a8a8a8;
}

/* line 35 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
/**
 * LAYOUT
 */

/* line 39 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#chrome {
  margin: 0 auto 0 !important;
  padding-left: 3em;
  padding-right: 3em;
  background: #fffffa;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 47 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#chrome:before {
  font-family: 'FontAwesome';
  text-align: center;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  font-size: 2em;
  display: block;
  position: absolute;
  content: '\f03b';
  left: 5px;
  top: 50%;
  padding: 0.4em 0 0.3em;
  color: #f4524e;
  -webkit-border-radius: 0 3px 3px 0;
  z-index: 11;
}

/* line 62 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#nav {
  position: relative;
  z-index: 10;
  background-color: #fffffa;
  padding: 0 1em 2em 0;
  margin-right: -100%;
  border-left: solid 50px transparent;
  -webkit-transition: all 0.2s ease-in-out;
}

/* line 72 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#nav:hover {
  z-index: 30;
  border-left: 0;
  padding-right: 1em;
  -webkit-box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.15);
}

/* line 79 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#nav .section,
#nav .scroll-tree li {
  background-color: #fffffa !important;
}

/* line 82 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#viewer-header-container {
  position: relative;
  min-width: 46em;
  margin: 0 auto !important;
  background-color: #fffffa !important;
  z-index: 20;
}

/* line 90 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#viewer-header-container #viewer-header {
  opacity: 0.1;
  background-color: transparent !important;
}

/* line 94 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#viewer-header-container #viewer-header:hover {
  z-index: 30;
  opacity: 1;
}

/* line 101 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#viewer-container {
  position: relative;
  z-index: 20;
  margin: 0 auto;
  font-size: 16px !important;
  line-height: 1.6em !important;
  background: #fffffa !important;
}

/* line 108 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#viewer-container a {
  color: #f4524e !important;
}

/* line 111 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#viewer-top-controls-container {
  margin-top: -14px !important;
}

/* line 114 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#title-and-status-holder {
  margin: 0 !important;
  padding-left: 0 !important;
}

/* line 118 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */

/* line 123 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
/**
 * CARD STYLING
 */

/* line 126 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries {
  border: 0;
  padding: 0 !important;
  border: none !important;
}

/* line 132 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries #current-entry {
  opacity: 1 !important;
}

/* line 134 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries #current-entry .collapsed {
  border-left: solid 2px #f4524e !important;
}

/* line 137 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry {
  margin: 0 auto !important;
  background: transparent !important;
  border-bottom: none !important;
/**
     * LIST VIEW - COLLAPSED
     */
}

/* line 142 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .card {
  width: 36em;
  padding-left: 2em;
  padding-right: 2em;
  border: 0;
  border-bottom: solid 1px #f4524e;
  -webkit-box-shadow: none;
}

/* line 152 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .card-common {
  background: transparent !important;
}

/* line 156 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .card-actions {
  border: none !important;
  width: 120%;
  margin-left: -10%;
}

/* line 162 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .card-content {
  padding: 0.5em 0em !important;
}

/* line 166 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-main {
  overflow: hidden !important;
}

/* line 170 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-date {
  font-size: 12px;
  float: none !important;
}

/* line 176 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-title {
  max-width: inherit !important;
}

/* line 179 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-title a {
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.2em;
  letter-spacing: -1px;
}

/* line 186 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-body {
  max-width: inherit !important;
}

/* line 190 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-body p {
  margin-bottom: 1em;
}

/* line 192 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-body p a {
  text-decoration: none;
  padding-bottom: 0.1em;
}

/* line 198 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-body pre,
#entries .entry .entry-body code {
  font-size: 12px;
}

/* line 203 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-author {
  font-size: 12px;
}

/* line 208 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-icons-placeholder {
  display: block;
  position: absolute;
  left: -1.5em;
  top: 0.6em;
}

/* line 215 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .card-actions,
#entries .entry .entry-actions {
  font-size: 12px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-left: none !important;
  margin-bottom: 32em/13em !important;
  text-align: center;
  opacity: 0.5;
}

/* line 224 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .card-actions:hover,
#entries .entry .entry-actions:hover {
  opacity: 1;
}

/* line 232 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed {
  padding: 0.1875em 0 0.25em !important;
  height: 1.8125em !important;
  border-bottom: solid 1px #eee !important;
  border-left: 0 !important;
  width: 43.199999999999996em !important;
  background: transparent !important;
}

/* line 241 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed .entry-source-title,
#entries .entry .collapsed .entry-title,
#entries .entry .collapsed .entry-date {
  line-height: 29px !important;
}

/* line 245 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed .entry-source-title,
#entries .entry .collapsed .entry-title,
#entries .entry .collapsed .entry-secondary-snippet {
  font-size: 12px !important;
}

/* line 249 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed .entry-date {
  position: absolute;
  right: 0;
}

/* line 254 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed .entry-source-title {
  width: 8em !important;
}

/* line 259 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed .entry-icons {
  margin-top: -12px !important;
}

/* line 263 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed .entry-secondary {
  margin-left: 10em !important;
  margin-right: 8em !important;
}

/* line 269 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed .entry-title,
#entries .entry .collapsed .entry-secondary-snippet {
  display: inline;
}

/* line 273 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed .entry-original {
  right: 5px !important;
}

/* line 276 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry.read {
  opacity: 0.7;
}

/* line 278 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry.read .collapsed {
  border-bottom: 0 !important;
}

/* line 281 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry.read .collapsed .entry-title {
  font-weight: bold;
  color: #8f8f8f;
}

/* line 285 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */

/* line 286 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry.expanded .collapsed {
  opacity: 0.2;
}

/* line 290 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry.expanded .collapsed:hover {
  -webkit-transition: opacity 0.2s linear;
  opacity: 1;
}

/* line 294 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry.expanded .entry-container {
  padding: 0 !important;
  width: 36em !important;
  border-left: none !important;
  background: none;
}

/* line 301 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
/**
 * RESPONSIVE
 */

/* line 304 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
@media only screen and (min-width: 1440px) {

/* line 305 : /Users/constantx/Dropbox/projects/readerrr/stylus/main.styl */
  #viewer-container {
    font-size: 16px !important;
  }
}
