
/* line 1 : /Users/tnguyen/Dropbox/projects/readerrr/node_modules/stylus/lib/functions/index.styl */

/* line 6 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
@import "chrome-extension://__MSG_@@extension_id__/css/font.css";

/* line 8 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
@font-face {
  font-family: 'FontAwesome';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/fontawesome-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* line 22 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
.cwrapper,
#entries,
#entries .entry .card,
#entries .entry .collapsed,
#entries .entry.expanded .entry-container {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 26 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
.tk-heading,
#entries .entry .entry-title a,
#entries .entry .collapsed .entry-source-title,
#entries .entry .collapsed .entry-secondary {
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif !important;
}

/* line 29 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
.tk-text,
#entries .entry .entry-body {
  font-family: 'Droid Serif', "Times New Roman", Georgia, serif !important;
  color: #424242 !important;
}

/* line 33 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
.tk-meta,
.meta,
#title-and-status-holder span,
#entries .entry .entry-date,
#entries .entry .entry-body pre,
#entries .entry .entry-body code,
#entries .entry .entry-author {
  font-family: "Panic Sans", "inconsolata", Monaco, 'Courier New', monospace !important;
  font-weight: normal !important;
}

/* line 38 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
.meta,
#title-and-status-holder span,
#entries .entry .entry-date,
#entries .entry .entry-author {
  color: #a8a8a8;
}

/* line 42 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
/**
 * LAYOUT
 */

/* line 46 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#chrome {
  margin: 0 auto 0 !important;
  padding-left: 3em;
  padding-right: 3em;
  background: #fffffa;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* line 54 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#chrome:before {
  font-family: 'FontAwesome';
  text-align: center;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  font-size: 2em;
  display: block;
  position: absolute;
  content: '\f03b';
  left: 5px;
  top: 50%;
  padding: 0.4em 0 0.3em;
  color: #f4524e;
  -webkit-border-radius: 0 3px 3px 0;
  z-index: 11;
}

/* line 69 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#nav {
  position: relative;
  z-index: 10;
  background-color: #fffffa;
  padding: 0 1em 2em 0;
  margin-right: -100%;
  border-left: solid 50px transparent;
  -webkit-transition: all 0.2s ease-in-out;
}

/* line 79 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#nav:hover {
  z-index: 30;
  border-left: 0;
  padding-right: 1em;
  -webkit-box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.15);
}

/* line 86 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#nav .section,
#nav .scroll-tree li {
  background-color: #fffffa !important;
}

/* line 89 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#viewer-header-container {
  position: relative;
  min-width: 46em;
  margin: 0 auto !important;
  background-color: #fffffa !important;
  z-index: 20;
}

/* line 97 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#viewer-header-container #viewer-header {
  opacity: 0.1;
  background-color: transparent !important;
}

/* line 101 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#viewer-header-container #viewer-header:hover {
  z-index: 30;
  opacity: 1;
}

/* line 108 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#viewer-container {
  position: relative;
  z-index: 20;
  margin: 0 auto;
  font-size: 14px !important;
  line-height: 1.6em !important;
  background: #fffffa !important;
}

/* line 115 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#viewer-container a {
  color: #f4524e !important;
}

/* line 118 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#viewer-top-controls-container {
  margin-top: -14px !important;
}

/* line 121 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#title-and-status-holder {
  margin: 0 !important;
  padding-left: 0 !important;
}

/* line 125 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */

/* line 130 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
/**
 * CARD STYLING
 */

/* line 133 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries {
  border: 0;
  padding: 0 !important;
  border: none !important;
}

/* line 139 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries #current-entry {
  opacity: 1 !important;
}

/* line 141 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries #current-entry .collapsed {
  border-left: solid 2px #f4524e !important;
}

/* line 144 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry {
  margin: 0 auto !important;
  background: transparent !important;
  border-bottom: none !important;
/**
     * LIST VIEW - COLLAPSED
     */
}

/* line 149 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .card {
  width: 36em;
  padding-left: 2em;
  padding-right: 2em;
  border: 0;
  border-bottom: solid 1px #f4524e;
  -webkit-box-shadow: none;
}

/* line 159 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .card-common {
  background: transparent !important;
}

/* line 163 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .card-actions {
  border: none !important;
  width: 120%;
  margin-left: -10%;
}

/* line 169 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .card-content {
  padding: 0.5em 0em !important;
}

/* line 173 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-main {
  overflow: hidden !important;
}

/* line 177 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-date {
  font-size: 12px;
  float: none !important;
}

/* line 183 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-title {
  max-width: inherit !important;
}

/* line 186 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-title a {
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.2em;
  letter-spacing: -1px;
}

/* line 193 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-body {
  max-width: inherit !important;
}

/* line 197 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-body p {
  margin-bottom: 1em;
}

/* line 199 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-body p a {
  text-decoration: none;
  padding-bottom: 0.1em;
}

/* line 205 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-body pre,
#entries .entry .entry-body code {
  font-size: 12px;
}

/* line 210 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-author {
  font-size: 12px;
}

/* line 215 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .entry-icons-placeholder {
  display: block;
  position: absolute;
  left: -1.5em;
  top: 0.6em;
}

/* line 222 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .card-actions,
#entries .entry .entry-actions {
  font-size: 12px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-left: none !important;
  margin-bottom: 32em/13em !important;
  text-align: center;
  opacity: 0.5;
}

/* line 231 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .card-actions:hover,
#entries .entry .entry-actions:hover {
  opacity: 1;
}

/* line 239 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed {
  padding: 0.1875em 0 0.25em !important;
  height: 1.8125em !important;
  border-bottom: solid 1px #eee !important;
  border-left: 0 !important;
  width: 43.199999999999996em !important;
  background: transparent !important;
}

/* line 248 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed .entry-source-title,
#entries .entry .collapsed .entry-title,
#entries .entry .collapsed .entry-date {
  line-height: 29px !important;
}

/* line 252 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed .entry-source-title,
#entries .entry .collapsed .entry-title,
#entries .entry .collapsed .entry-secondary-snippet {
  font-size: 12px !important;
}

/* line 256 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed .entry-date {
  position: absolute;
  right: 0;
}

/* line 261 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed .entry-source-title {
  width: 8em !important;
}

/* line 266 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed .entry-icons {
  margin-top: -12px !important;
}

/* line 270 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed .entry-secondary {
  margin-left: 10em !important;
  margin-right: 8em !important;
}

/* line 276 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed .entry-title,
#entries .entry .collapsed .entry-secondary-snippet {
  display: inline;
}

/* line 280 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry .collapsed .entry-original {
  right: 5px !important;
}

/* line 283 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry.read {
  opacity: 0.7;
}

/* line 285 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry.read .collapsed {
  border-bottom: 0 !important;
}

/* line 288 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry.read .collapsed .entry-title {
  font-weight: bold;
  color: #8f8f8f;
}

/* line 292 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */

/* line 293 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry.expanded .collapsed {
  opacity: 0.2;
}

/* line 297 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry.expanded .collapsed:hover {
  -webkit-transition: opacity 0.2s linear;
  opacity: 1;
}

/* line 301 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
#entries .entry.expanded .entry-container {
  padding: 0 !important;
  width: 36em !important;
  border-left: none !important;
  background: none;
}

/* line 308 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
/**
 * RESPONSIVE
 */

/* line 311 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
@media only screen and (min-width: 1440px) {

/* line 312 : /Users/tnguyen/Dropbox/projects/readerrr/stylus/main.styl */
  #viewer-container {
    font-size: 16px !important;
  }
}
